<section class="hero">

    <div class="hero-content">

        <span class="badge">
            Welcome To DevBlog 🚀
        </span>

        <h1>
            Read. Learn.
            <br>
            Grow Together.
        </h1>

        <p>
            Discover amazing articles about Angular, AI,
            Web Development and modern technologies.
        </p>

        <div class="buttons">

            <a
                routerLink="/posts"
                class="primary-btn">
                Explore Posts
            </a>

            <a
                routerLink="/about"
                class="secondary-btn">
                About Us
            </a>

        </div>

    </div>

    <div class="hero-image">

        <img
            src="https://cdn-icons-png.flaticon.com/512/2721/2721297.png"
            alt="developer">

    </div>

</section>